<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidfinalproject2020">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CalenderActivity" />
        <activity
            android:name=".NewNoteActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainRecyclerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainRecyclerActivity" />
        </activity>
        <activity
            android:name=".MainRecyclerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <activity
            android:name=".InputActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".SignIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignIn" />
        </activity>
        <activity
            android:name=".SignIn"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SignUp"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>